{{!-- set up to have the template tha handlebars can render onto --}}

<h1>Eat Dat Burger!</h1>

<h2>Burgers I need to Devour!</h2>

<ul>
  {{#each burger_name}}
    {{#unless devoured}}
     {{>burgers/burgerblock devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{>burgers/burgerblock devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> Undevoured
  </div>

  <button type="submit">Add Dat Burger!</button>
</form>